* {
    box-sizing: border-box;
}

body {

}

.book-element img {
    display: inline-block;
    width: 75px;
    height: 100px;
    background-color: brown;
    background-image: url(./assets/bookIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 12px;
}

.inputs-wrapper {
    visibility: hidden;
}

.active {
    visibility: visible;
}